.trailsText>div {
  padding-right: 0.05em;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(159,172,230,1) 0%, rgba(162,0,255,1) 100%);
  flex-direction: column;
  border-radius: 12px;
}

.RaisingTextContainer {
  padding: 24px;
  text-align: center;
}