.trailsText>div {
  padding-right: 0.05em;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #9face6;
  flex-direction: column;
  
}

.RaisingTextContainer {
  padding: 24px;
  text-align: center;
}