.contact_title {
    font-size: 32px;
    font-weight: 600;
    color: #2D3142;
    margin: 0;
}

.contact_item {
    display: flex;
    font-weight: 400;
    font-size: 24px;
    color: #9F7065;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}