html,
body,
#root {
    height: calc(100vh + 4800px);
    width: 100%;
}

body {
    font-family: "Noto Sans TC", "Noto Sans SC", sans-serif;
    margin: 0;
}
body::-webkit-scrollbar {
    
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
