@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500&display=swap&subset=chinese-traditional');

html,
body,
#root {
    height: calc(100vh + 3000px);
    width: 100%;
}

body {
    font-family: "Noto Sans TC", "Noto Sans SC", sans-serif !important;
    margin: 0;
}


*,
*:after,
*:before {
    box-sizing: border-box;
}